{% extends 'main/header.html' %}
{% load static %}

{% block content %}

<head>
    <title>Edit Recipient Post- Freefare</title>
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'rpost_style.css' %}">
</head>

<body>
    <section>
        <div class="title-banner">
            <h3 class="title-text">Edit Post</h3>
        </div>
        <div class="container col " style="margin-bottom: 12em;">
            <div class="col-md-12 card hoverable">
                <div class="card-content center"> 
                    <form method="post" class="post-form" action=" " enctype="multipart/form-data">
                        {% include 'main/recipient_form.html' %}

                        <div>
                            <button type="submit" id="add-button" class="btn btn-lg">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    {% include 'main/footer.html' %}
</body>

<script>

    document.addEventListener("DOMContentLoaded", function (event) {
        
        document.getElementById("post_image").src = "{{  instance.post_image.url }}";
        if ("{{  instance.post_image.url }}" != null) {
            document.getElementById("id_post_image").required = false;
        }
    });

    document.getElementById("id_post_image").onchange = function () {
        document.getElementById("id_post_image").required = true;
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("post_image").src = e.target.result;
        };

        reader.readAsDataURL(this.files[0]);
    };


</script>

{% endblock %}