{% load static %}
<footer class="page-footer" style="background-color:#0f402eff; box-shadow: 0 1pt 0 #FFF, 0 1pt 0 #CFCFCF inset;">
  <div class="container">
    <div class="row">
      <div class="col l2 s12">
        <img src="{% static 'images/dark_green_freefare_logo.svg' %}" alt="dark green Freefare logo">
      </div>
      <div class="col l3 s12">
        <h5 style="color: #f2f2f2ff">Fun Food Fact</h5>
        <p style="color: #f2f2f2ff">You can test if a cranberry is ripe by seeing if it bounces when you drop it.</p>


      </div>
      <div class="col l3 s12">
        <h5 style="color: #f2f2f2ff">Social Media</h5>
        <ul>
          <li><a href="/#!" style="color: #f2f2f2ff">Facebook</a></li>
          <li><a href="/#!" style="color: #f2f2f2ff">Instagram</a></li>
          <li><a href="https://twitter.com/salhateswaste" style="color: #f2f2f2ff">Twitter</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 style="color: #f2f2f2ff">Menu</h5>
        <ul>
          <li><a href="/#about-title" style="color: #f2f2f2ff">About</a></li>
          <li><a href="/map_page" style="color: #f2f2f2ff">Map</a></li>
          <li><a href="/login" style="color: #f2f2f2ff">Login</a></li>
          <li><a href="/signup" style="color: #f2f2f2ff">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="color: #147358ff">
    Made with <a style="color: #147358ff" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>