{% extends 'main/header.html' %}
{% load static %}

{% block content %}

<head>
    <title>New Recipient Post- Freefare</title>
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'rpost_style.css' %}">


</head>


<body>
    <section>

        <div class="title-banner">
            <h3 class="title-text">New Need</h3>
        </div>
        <div class="container col " style="margin-bottom: 12em;">
            <div class="col-md-12 card hoverable">
                <div class="card-content center">
                    <form method="post" class="post-form" action=" " enctype="multipart/form-data">


                        {% include 'main/recipient_form.html' %}

                        <div>
                            <button type="submit" id="add-button" class="btn btn-lg">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include 'main/footer.html' %}
</body>


{% endblock %}