{% extends 'main/header.html' %} {% load static %} {% block content %}

<head>
  <title>Volunteer - Freefare</title>
  {% load static %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'profile_view_style.css' %}"
  />
</head>
<style>
    .main-text{
        margin-bottom: 20px;
    }
</style>
<body>
  <div class="container col" style="margin-bottom: 12em">
    <div class="card hoverable">
        <div class="title-banner">
            <h4 class="title-text center-align" style="margin: 50pt; word-spacing: 2pt; "> We want everyone to have access to free food all the time. 
            </h4>
        </div>
        <div class="main-text">
            <h6 class="center-block" style="margin: 30pt; word-spacing: 2pt; ">
            It's easier to feed 50 hungry people than it is to make sure there's less than 20lb of food left across all pantries where those 50 people reside.
            We focus on the other side of the food-waste coin: finding free food.
            </h6>
            <p class="center-block" style="margin: 30pt; word-spacing: 2pt; ">
            Freefare is a project born from the persistent hate for food waste that brought us together.
            We first started Freefare as a way for us -- then, two lonely and hungry recent college grads -- to find free food around our area. 
            But when the pandemic hit, we still had our jobs and could afford food. 
            But many others didn’t, and couldn’t.
            <br><br>
            The supply and demand mismatches we witnessed at the beginning of the Covid-19 pandemic inspired us to take the project more seriously. 
            There were people in downtown Hartford begging for food only 500 feet away from a church that was giving it away. 
            While restaurants, farms and groceries were initially left with excess produce, 
            many pantries and soup kitchens found themselves running bare trying to feed the newly jobless and hungry. 
            The supply and demand for free food was there, but nobody really knew where. 
            <br><br>
            From there, we've gone through waves of sprints and procrastination until this most recent rebrand.
            Now, a different side of the same coin; instead of focusing on eliminating food-waste, our goal is to make sure a user always knows where to find free food.
            If pantries, churches, and restaurants giving away free food can't give it away, it goes to waste. 
            On the other hand, if everyone who could use free food and is hungry has been fed, people who have free food have done their best.
            <br><br>   
            We hope to start to address the fundamental misallocation of excess food by providing a focused and curated place to share it. Thank you for coming along with us on this journey!         
            <br><br>
            <br>
            <br>
            <br>
            </p>
        </div>
    </div>
  </div>
  {% include 'main/footer.html' %}
</body>

{% endblock %}
