{% extends 'main/header.html' %}
{% load static %}

{% block content %}

<head>
  <title>Volunteer - Freefare</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile_view_style.css' %}">
</head>


<body>
<div class="container col " style="margin-bottom: 12em;">
    <div class="card hoverable">
        <div class="title-banner">
            <h4 class="title-text center-align">  Imagine if you always knew where to find free food. </h4>
        </div>
        <div class="main-text">
            <h6 class="center-block" style="margin: 30pt; word-spacing: 2pt"> This is what we were thinking when we, Justo and Wisdom, first developed Freefare.
            It first started out as a project under Code For America's Connecticut branch/"brigade", Code for CT. 
            Wisdom was working on helping a local non-profit with their website redesign, and Justo was working on the design of 
            something called 'Sal', which was short for 'Salvage', which Justo intended to make name of the app. 
            The initial idea was the same as it is now: give people the ability to know about where to find free food in their area.
            'Sal' was supposed Of course Justo procrastinated Sal, and somewhere along the way it turned into a foodwaste project (almost same thing)
            and the name changed to Sal Hates Waste. 
            <br>

            <br>
            </h6>
        </div>
    </div>
</div>
  {% include 'main/footer.html' %}
</body>

{% endblock %}